# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/
_legacy_steps/

# Datasets
/data/
*.tar.gz
*.zip

# Outputs & Model checkpoints
# output/
# *.pt
# *.pth
# checkpoints/

# Logs & scratch
*.log
scratch/
.idea/
.vscode/
.ipynb_checkpoints/

# Training outputs
# *.png
# history.json
# *history.json
# *.csv
cifar-10-python.tar.1.gz
